.about {
  padding: 46px 15px;
  background-color: $backgroundAboutColor;

  &-wrapper {
    font-size: 22px;
    line-height: 32px;

    &__heading {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__description {
      margin-bottom: 20px;
    }
  }
}
