.audience {
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);
  text-align: center;
  line-height: 34px;

  @media screen and (min-width: calc($tablet + 1px)) {
    padding: 108px 0 110px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: calc($tablet + 1px)) {
      flex-direction: row;
      column-gap: 10px;
      margin: 0 auto;
      width: 330px;
    }
  }

  &__caption {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 22px;
    color: $fontPrimaryColor;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $fontPrimaryColor;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 555px;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-size: 24px;
    color: #2b292d;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin: 0 auto;
      margin-bottom: 34px;
      width: 555px;
      text-align: center;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: calc($tablet + 1px)) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    max-width: 81%;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 300px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    &_main {
      background: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    }
  }

  &__card:not(.features__block:last-of-type) {
    margin-bottom: 15px;
  }

  &__caption {
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $fontPrimaryColor;

    &_main {
      color: $fontMainCardColor;
    }
  }
}
