.customers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  align-items: center;
  padding: 30px 0 81px;

  @media screen and (min-width: calc($tablet + 1px)) {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 81%;
    row-gap: 0px;
  }

  &__logo {
    filter: brightness(0%);
  }
}
