.customers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;

  &__logo {
    max-width: 100%;
    filter: brightness(0%);

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 106px;
      height: 94px;
      background-color: #fff;
      box-shadow: inset -1px 0px 0px rgba(200, 200, 200, 0.5);
    }
  }
}
