.logo {
  &_footer {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  &__image_footer {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }

  &__name_footer {
    text-align: center;
  }
}

.downloads {
  padding-top: 31px;
  margin-bottom: 40px;
  text-align: center;
}

.footer {
  &__horizontal-line {
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid $borderFooterColor;
  }
}

.addition-navigation {
  padding: 0 15px;
  margin-bottom: 30px;

  &__heading {
    margin-bottom: 18px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $fontPrimaryColor;
  }

  &__link {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.socials {
  &-wrapper {
    padding: 0 15px;
  }

  &__link {
    text-decoration: none;
    margin-right: 20px;
  }
}

.external-links {
  display: flex;
  margin-bottom: 31px;

  &__item:not(.external-links__item:last-of-type) {
    margin-right: 22px;
  }

  &__link {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
}
