* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans';
}

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: calc($tablet + 1px)) {
    max-width: 1400px;
  }
}

.button {
  display: inline-block;
  padding: 17px 0;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  text-align: center;

  @media screen and (min-width: calc($tablet + 1px)) {
    width: 160px;
  }

  &_get-started {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      $backgroundButtonColorGetStarted;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: $fontPrimaryButtonColor;
  }

  &_learn-more {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      $backgroundButtonColorLearnMore;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: $fontSecondaryButtonColor;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
  font-size: 18px;
  line-height: 25px;

  &__image {
    width: 48px;
    height: 48px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    display: none;
    color: $fontPrimaryColor;
    opacity: 0.6;

    @media screen and (min-width: calc($tablet + 1px)) {
      display: inline;
    }

    &_visible {
      display: inline;
    }
  }
}
