.order {
  background-color: $backgroundOrderColor;
  padding: 50px 15px;
  text-align: center;

  @media screen and (min-width: calc($tablet + 1px)) {
    padding: 0;
  }

  &-content {
    @media screen and (min-width: calc($tablet + 1px)) {
      display: flex;
      padding: 73px 230px 72px 224px;
      column-gap: 121px;
    }
  }

  @media screen and (min-width: calc($tablet + 1px)) {
    &__right-column {
      flex-basis: 39%;
    }
  }

  &__image {
    width: 200px;
    height: 200px;

    @media screen and (min-width: calc($tablet + 1px)) {
      width: 269px;
      height: 296px;
    }
  }

  &__heading {
    margin-top: 40px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: $fontPrimaryColor;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin-top: 33px;
      margin-bottom: 12px;
      text-align: left;
    }
  }

  &__description {
    margin-bottom: 80px;
    text-align: left;
    font-size: 22px;
    line-height: 32px;
    color: $fontPrimaryColor;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin-bottom: 26px;
    }
  }
}

.form {
  @media screen and (min-width: calc($tablet + 1px)) {
    display: flex;
    column-gap: 10px;
  }

  &__send-email {
    margin-bottom: 12px;
    padding: 17px 0 18px;
    width: 100%;
    height: 48px;
    border: 1px solid $borderColorEmailInput;
    border-radius: 2px;

    @media screen and (min-width: calc($tablet + 1px)) {
      display: flex;
      width: 385px;
    }

    &::placeholder {
      font-size: 18px;
      line-height: 13px;
      text-align: center;
      color: $fontPrimaryColor;

      @media screen and (min-width: calc($tablet + 1px)) {
        padding-left: 15px;
        text-align: left;
      }
    }
  }

  &__submit-button {
    margin-bottom: 10px;
  }

  &__caption-button {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $fontCaptionFormColor;
  }
}
