.about {
  padding: 46px 15px;
  background-color: $backgroundAboutColor;

  @media screen and (min-width: calc($tablet + 1px)) {
    padding: 77px 0 76px;
  }

  &__content {
    @media screen and (min-width: calc($tablet + 1px)) {
      display: flex;
      column-gap: 29px;
      margin: 0 auto;
      max-width: 81%;
    }
  }

  &__block {
    &-wrapper {
      font-size: 22px;
      line-height: 32px;

      @media screen and (min-width: calc($tablet + 1px)) {
        flex: 1 1 0;
      }
    }

    &-heading {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-description {
      margin-bottom: 20px;
    }
  }
}
