.about {
  padding: 46px 15px;
  background-color: $backgroundAboutColor;

  @include to-desktop {
    padding: 77px 0 76px;
  }

  &__content {
    @include to-desktop {
      display: flex;
      column-gap: 29px;
      margin: 0 auto;
      max-width: 81%;
    }
  }

  &__block-wrapper {
    font-size: 22px;
    line-height: 32px;

    @include to-desktop {
      flex: 1 1 0;
    }
  }

  &__block-heading {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__block-description {
    margin-bottom: 20px;
  }
}
