.customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1px;
  background-color: $backgroundCustomerColorMobile;

  @include to-desktop {
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 81%;
    background-color: $backgroundCustomerColorDesktop;
  }

  &__wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 106px;
    height: 94px;
    background-color: $backgroundCustomerWrapperLogo;
    // border: 1px solid rgba(200, 200, 200, 0.5);

    @include to-desktop {
      flex-basis: auto;
      border: none;
    }
  }

  &__logo {
    max-width: 100%;
    filter: brightness(0%);
    transform: scale(0.75);

    @include to-desktop {
      transform: scale(1);
    }
  }
}
