.logo {
  @include toDesktop {
    &__text {
      align-items: flex-start;
    }
  }

  &_footer {
    padding-top: 40px;
    margin-bottom: 31px;
    flex-direction: column;
    align-items: center;

    @include toDesktop {
      flex-direction: row;
      margin-bottom: 26px;
    }
  }

  &__image_footer {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;

    @include toDesktop {
      margin-bottom: 0;
    }
  }

  &__name_footer {
    font-size: 20px;
    text-align: center;
  }
}

.footer {
  &__horizontal-line-mobile {
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid $borderFooterColor;

    @include toDesktop {
      display: none;
    }
  }

  &__horizontal-line-desktop {
    display: none;

    @include toDesktop {
      display: block;
      border: none;
      border-top: 1px solid $borderFooterColor;
    }
  }

  &__content {
    @include toDesktop {
      display: flex;
      column-gap: 126px;
      margin: 0 auto;
      max-width: 81%;
    }
  }

  &__downloads {
    margin-bottom: 40px;
    text-align: center;

    @include toDesktop {
      text-align: left;
    }
  }

  &__info {
    display: none;
    margin-bottom: 25px;
    width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);

    @include toDesktop {
      display: block;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;

    @include toDesktop {
      flex-direction: row;
      column-gap: 60px;
    }
  }
}

.addition-navigation {
  padding: 0 15px;
  margin-bottom: 30px;

  @include toDesktop {
    padding-top: 60px;

    &__list {
      line-height: 30px;
    }
  }

  &__heading {
    margin-bottom: 18px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $fontPrimaryColor;
  }

  &__link {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.socials {
  margin-left: auto;
  display: flex;
  &-wrapper {
    padding: 0 15px;
    padding-bottom: 23px;
    min-height: 48px;

    @include toDesktop {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      max-width: 81%;
    }
  }

  &__link {
    text-decoration: none;
    margin-right: 20px;
  }

  &__image {
    display: block;
    width: 18px;
    height: 17px;

    &_twitter {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png');
    }

    &_facebook {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png');
    }

    &_linkedin {
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png');
    }
  }
}

.external-links {
  display: flex;
  margin-bottom: 31px;

  @include toDesktop {
    margin-bottom: 0;
  }
  &__item:not(.external-links__item:last-of-type) {
    margin-right: 22px;
  }

  &__link {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
}
