.header {
  background-color: $backgroundHeaderColor;

  &__button {
    display: none;
    @media screen and (min-width: calc($tablet + 1px)) {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 8px 15px;

    @media screen and (min-width: calc($tablet + 1px)) {
      margin: 0 auto;
      padding: 0;
      padding-top: 39px;
      max-width: 81%;
    }

    @media screen and (max-width: $tablet) {
      background-color: #ffffff;
    }

    @media screen and (min-width: calc($tablet + 1px)) {
      margin-bottom: 76px;
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 26px 25px 25px 20px;
    justify-content: center;
    border: none;
    border-left: 1px solid $leftBorderColorBurger;
    align-items: center;
    background-color: transparent;
    outline: none;

    @media screen and (min-width: calc($tablet + 1px)) {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  column-gap: 56px;

  &__wrapper {
    display: none;

    @media screen and (min-width: calc($tablet + 1px)) {
      display: flex;
    }
  }

  &__link {
    position: relative;
  }

  &__arrow {
    position: absolute;
    right: -17px;
    top: 60%;
    height: 5px;
    width: 8px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }

  @media screen and (min-width: calc($tablet + 1px)) {
    &__link {
      display: block;
      padding-top: 7px;
      font-size: 18px;
      line-height: 25px;
      text-decoration: none;
      color: $fontPrimaryColor;

      &_selected {
        font-weight: 700;
      }
    }

    &__link:not(.navigation__item:last-of-type .navigation__link) {
      margin-right: 50px;
    }
  }
}
