.headline {
  position: relative;
  background-color: $backgroundHeaderColor;

  @include toDesktop {
    padding-bottom: 126px;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    margin-top: 35px;
    padding: 0 15px;

    @include toDesktop {
      margin: 0 auto;
      padding: 0;
      max-width: 81%;
    }
  }

  &__heading {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    color: $fontPrimaryColor;

    @include toDesktop {
      width: 754px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }

  &__description-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    color: $fontPrimaryColor;

    @include toDesktop {
      width: 456px;
      margin-bottom: 58px;
    }
  }

  &__image {
    width: 100%;

    @include toDesktop {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 25px;
      width: 796px;
      height: 448px;
    }
  }
  &__button {
    margin-bottom: 15px;

    @media screen and (max-width: $tablet) {
      &:last-of-type {
        margin-bottom: 33px;
      }
    }

    @include toDesktop {
      margin-bottom: 0;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}
