.order {
  background-color: $backgroundOrderColor;
  padding: 50px 15px;
  text-align: center;

  @include to-desktop {
    padding: 0;
  }

  &__content {
    @include to-desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 121px;
      padding: 73px 210px 72px 224px;
    }
  }

  @include to-desktop {
    &__right-column {
      flex-basis: 39%;
      text-align: left;
    }
  }

  &__image {
    width: 200px;
    height: 200px;

    @include to-desktop {
      width: 269px;
      height: 296px;
    }
  }

  &__heading {
    margin-top: 40px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: $fontPrimaryColor;

    @include to-desktop {
      margin-top: 33px;
      margin-bottom: 12px;
      text-align: left;
    }
  }

  &__description {
    margin-bottom: 80px;
    text-align: left;
    font-size: 22px;
    line-height: 32px;
    color: $fontPrimaryColor;

    @include to-desktop {
      margin-bottom: 26px;
    }
  }
}

.form {
  @include to-desktop {
    display: flex;
    column-gap: 10px;
  }

  &__send-email {
    margin-bottom: 12px;
    padding: 17px 0 18px;
    width: 100%;
    height: 48px;
    border: 1px solid $borderColorEmailInput;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    color: $fontPrimaryColor;

    @include to-desktop {
      display: flex;
      padding-left: 15px;
      width: 385px;
      text-align: left;
    }
  }

  &__submit-button {
    margin-bottom: 10px;
  }

  &__caption {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $fontCaptionFormColor;
  }
}
