$leftBorderColorBurger: rgba(0, 0, 0, 0.15);
$borderColorEmailInput: rgba(43, 41, 45, 0.2);

$backgroundHeaderColor: #f3c6bd;
$backgroundMobileHeaderColor: #ffffff;
$backgroundAboutColor: #f4f5f7;
$backgroundOrderColor: #f4f5f7;

$backgroundButtonColorGetStarted: #3040c4;
$backgroundButtonColorLearnMore: #ffffff;

$borderFooterColor: #e3e3e3;
$fontMainCardColor: #ffffff;

$fontPrimaryColor: #2b292d;
$fontPrimaryButtonColor: #ffffff;
$fontSecondaryButtonColor: #3040c4;
$fontCaptionFormColor: rgba(43, 41, 45, 0.6);
